.Saved {
  margin-top: 2em;
  border: 1px solid purple;
  border-radius: 2em;
  padding: 0.984em 0.984em 0 0.984em;
  min-width: 6em;
  display: flex; 
}

@media (max-width: 769px) { 
  .Saved {
    max-width: 30em;
  }
}

@media (max-width: 415px) { 
  .Saved {
    max-width: 15em;
    min-height: 5em;
    height: max-content;
    flex-wrap: wrap;
    padding: 0 1em 0 2em;
  }
  .selected {
    margin: 0.5em
  }
}