/* * {
  border: dashed 1px grey;
} */
.App-nav {
  height: 7em;
  background-color: #5f5f5f;
  display: flex;
  justify-content: center;
}

.App-potential-score {
  font-size: 2em;
  color: #4caf4f;
  /* border: 1px solid purple; */
  border-radius: 0.75em;
  padding: 0.2em 1em 1em 1em;
  background-color: #fff;
}

.App-actual-score {
  font-size: 2em;
  color: #4caf4f;
  border-radius: 2em;
  padding: 0.2em 1em 1em 1em;
  background-color: #fff;
}

.App-container {
  background-color: #f1f1f1;
  padding: 0 15em;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 100em;
}

.App-play-container {
  margin-top: 3.5em;
  display: flex;
  justify-content: center;
}

.App-saved-container {
  height: 10em;
  display: flex;
  justify-content: center;
}

.App-btn-container {
  height: 10em;
  margin-top: 2em;
  display: flex;
  justify-content: center;
}

.App button {
  color: #fff;
  background-color: #4caf4f;
  height: 5em;
  width: 5em;
  border-radius: 1em;
}

.App button:hover {
  color: #4caf4f;
  background-color: lightgreen;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
}

.App button:focus {
  outline: none;
}

/* .App-btn-roll {
  background-color: #4caf4f;
}

.App-btn-bank {
  background-color: #4caf4f;
} */
/* .App-btn-inctive {
  background-color: grey;
} */

/* .App-btn-roll:hover {
  background-color: blue;
}

.App-btn-bank:hover {
  background-color: purple;
} */
