.Dice {
  height: 55px;
  width: 55px;
  border: 1px solid black;
  border-radius: 0.75em;
  display: inline-block;
  margin: 1em;
  /* display: flex; */
}

.Dice:hover {
  background-color: lightblue;
  transform: translateY(-5px);
  transition: all 0.015s ease-in-out;  
  box-shadow: 0 8px 10px -6px #DCDEDD;
}

.qualifier {
  background-color: rgb(43, 255, 0);
}