.Dice {
  max-height: 55px;
  min-height: 50px;
  min-width: 55px;
  border: 1px solid black;
  border-radius: 0.75em;
  display: inline-block;
  margin: 1em;
  transition: all 0.015s ease-in-out;
}

@media (max-width: 769px) { 
  .Dice {
    max-width: 60px;
    margin: 1em 0.5em;
  }
}

.Dice:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.qualifier {
  background-color: rgb(43, 255, 0);
}

.selected {
  height: 55px;
  width: 55px;
  border-radius: 0.75em;
  display: inline-block;
  margin: 1em;
  transition: all 0.015s ease-in-out;
  opacity: 0.5;
  background-color: #4caf4f;
}

.inactive {
  height: 55px;
  width: 55px;
  border: 1px solid black;
  border-radius: 0.75em;
  display: inline-block;
  margin: 1em;
  background-color: #000;
  z-index: 1;
}