.InPlay {
  display: flex;
}

@media (max-width: 769px) { 
  .InPlay {
    max-width: 30em;
  }
}

@media (max-width: 415px) { 
  .InPlay {
    max-width: 15em;
    min-height: 5em;
    height: max-content;
    flex-wrap: wrap;
    padding: 0 1em 0 2em;
  }
}
